@model IEnumerable<WebAppTDSII_2020.Models.BancosCab>

<h2 class="text-info">LISTADO DE BANCOS</h2>

<br />

<table class="table table-hover"> 
    <thead>
        <tr class="bg-info text-center">
            <th><center>@Html.DisplayNameFor(model => model.IdBancosCab)</center></th>
            <th><center>@Html.DisplayNameFor(model => model.Nombre)</center></th>
            <th><center>OPCIONES</center></th>
        </tr>
    </thead>

    @foreach(var item in Model)
    {
        <tr class="text-center">
            <td>@Html.DisplayFor(Model => item.IdBancosCab)</td>
            <td>@Html.DisplayFor(Model => item.Nombre)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdBancosCab }) ||
                @Html.ActionLink("Details", "Details", new { id = item.IdBancosCab }) ||
                @Html.ActionLink("Delete", "Delete", new { id = item.IdBancosCab })
            </td>
        </tr>
    }
</table>