<br />

<h2 class="text-info">@ViewData["Titulo"]</h2>
<br />

<table class="table table-bordered">
    <thead>

        <tr class="badge-info">
            <th><center>@ViewData["EPP"]</center></th>
            <th><center>@ViewData["ESP0"]</center></th>
            <th><center>@ViewData["ETP"]</center></th>
            <th><center>@ViewData["ECP"]</center></th>
            <th><center>@ViewData["EQP"]</center></th>
            <th><center>@ViewData["ESP"]</center></th>
            <th><center>@ViewData["ESP1"]</center></th>
        </tr>

        @foreach (var item in ViewData["LProducto"] as IList<Producto>)
        {
            <tr>
                <td>@item.IdProducto</td>
                <td>@item.Nombre</td>
                <td>@item.Codigo</td>
                <td>@item.UnidadMedida</td>
                <td>@item.Precio</td>
                <td>@item.Stock</td>
                <td>@item.FechaRegistro</td>
            </tr>
        }
    </thead>
</table>